<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ino.app.mapper.UserMapper">

  <resultMap id="userResultMap" type="UserDto">
    <id column="user_no" property="userNo"/>
    <result column="user_id" property="userId"/>
    <result column="user_pwd" property="userPwd"/>
    <result column="user_name" property="userName"/>
    <result column="email" property="email"/>
    <result column="gender" property="gender"/>
    <result column="phone" property="phone"/>
    <result column="address" property="address"/>
    <result column="profile_url" property="profileURL"/>
    <result column="signup_date" property="signupDate"/>
    <result column="modify_date" property="modifyDate"/>
    <result column="role" property="role"/>
  </resultMap>

  <select id="selectUserById" resultMap="userResultMap">
    select
    user_no
    , user_id
    , user_pwd
    , user_name
    , email
    , gender
    , phone
    , address
    , profile_url
    , signup_date
    , modify_date
    , role
    from
    tbl_user
    where
    role in ('U', 'A')
    and user_id = #{userId}
  </select>

  <select id="selectUserCountById" resultType="_int">
    select
    count(*)
    from
    tbl_user
    where
    user_id = #{checkId}
  </select>

  <insert id="insertUser">
    insert into
    tbl_user
    (
    user_id
    , user_pwd
    , user_name
    , email
    , gender
    , phone
    , address
    )
    values
    (
    #{userId}
    , #{userPwd}
    , #{userName}
    , NULLIF(#{email}, '')
    , NULLIF(#{gender}, '')
    , NULLIF(#{phone}, '')
    , NULLIF(#{address}, '')
    )
  </insert>

  <update id="updateProfileImg">
    update
    tbl_user
    set
    profile_url = #{profileURL}
    , modify_date = now()
    where
    user_id = #{userId}
  </update>

  <update id="updateUser">
    update
    tbl_user
    set
    user_name = #{userName}
    , email = #{email}
    , phone = #{phone}
    , address = #{address}
    , gender = #{gender}
    , modify_date = now()
    where
    user_id = #{userId}
  </update>

  <!-- 탈퇴된 회원의 정보를 가지고 잇으면 안됨 (개인정보지워야됨) => 해당 회원의 정보들 다 지우고 이름은 마스킹처리 -->
  <update id="deleteUser">
    update
    tbl_user
    set
    user_name = concat(substr(user_name,1,1), rpad('*', char_length(user_name)-1, '*'))
    , email = null
    , gender = null
    , phone = null
    , address = null
    , profile_url = null
    , modify_date = now()
    , role = 'R'
    where
    user_id = #{userId}
  </update>


</mapper>