<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #boardList th, #boardList td:not(:nth-child(2)){text-align: center;}
    #boardList>tbody>tr:hover{cursor:pointer;}

    .page-link {
      color: #6c757d;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .page-item.active .page-link {
      z-index: 1;
      color: #555;
      font-weight:bold;
      background-color: #f1f1f1;
      border-color: #ccc;
    }
    .page-link:focus, .page-link:hover {
      color: #000;
      background-color: #fafafa;
      border-color: #ccc;
    }
  </style>
</head>
<body>

  <div class="container p-3">

    <!-- Header, Nav start -->
    <th:block th:replace="~{fragment::header-nav}"></th:block>
    <!-- Header, Nav end -->

    <!-- Section start -->
    <section class="row m-3" style="min-height: 500px">

      <div class="container border p-5 m-4 rounded">
        <h2 class="m-4">게시글 목록</h2>
        <br>

        <!-- 로그인후 상태일 경우만 보여지는 글쓰기 버튼-->
        <th:block th:if="${session.loginUser != null}">
          <a class="btn btn-secondary" style="float:right" th:href="@{/board/regist.page}">글쓰기</a>
          <br>
        </th:block>

        <br>
        <table id="boardList" class="table table-hover" align="center">
          <thead>
          <tr>
            <th width="100px">번호</th>
            <th width="400px">제목</th>
            <th width="120px">작성자</th>
            <th>조회수</th>
            <th>작성일</th>
            <th>첨부파일</th>
          </tr>
          </thead>
          <tbody>
            <!--현재요청한페이지에 보여져야될 게시글목록데이터 출력 (현재는 임의의 tr요소)-->
            <th:block th:each="board:${boards}"
                      th:object="${board}">
              <tr th:onclick="|location.href='@{/board/detail.page(no=*{boardNo})}';|">
                <td th:text="*{boardNo}"></td>
                <td th:text="*{boardTitle}"></td>
                <td th:text="*{boardWriter}"></td>
                <td th:text="*{readCount}"></td>
                <td th:text="*{registDate}"></td>
                <td th:text="*{attachCount} != 0 ? '📎'"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <br>

        <!--현재보고있는 페이지에 따라 동적으로 페이징바도 제작해야됨-->
        <ul id="paging_area" class="pagination d-flex justify-content-center">

          <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/board/list.page(page=${page-1})}">Previous</a>
          </li>

          <th:block th:each="p:${#numbers.sequence(beginPage, endPage)}">
            <li class="page-item" th:classappend="${p == page} ? 'active'">
              <a class="page-link"
                 th:href="@{/board/list.page(page=${p})}"
                 th:text="${p}"></a>
            </li>
          </th:block>

          <li class="page-item" th:classappend="${page == totalPage} ? 'disabled'">
            <a class="page-link" th:href="@{/board/list.page(page=${page+1})}">Next</a>
          </li>

        </ul>

        <br clear="both"><br>

        <form id="search_form" action="검색요청url" method="GET" class="d-flex justify-content-center">
          <div class="select" >
            <select class="custom-select" name="">
              <option value="">작성자</option>
              <option value="">제목</option>
              <option value="">내용</option>
            </select>
          </div>
          <div class="text">
            <input type="text" class="form-control" name="">
          </div>
          <button type="submit" class="search_btn btn btn-secondary">검색</button>
        </form>

      </div>
    </section>
    <!-- Section end -->

    <!-- Footer start -->
    <th:block th:replace="~{fragment::footer}"></th:block>
    <!-- Footer end -->

  </div>

</body>
</html>