<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #profileImg{
      width:250px;
      height:250px;
      border:1px solid lightgray;
      border-radius: 50%;
    }
  </style>
</head>
<body>

  <div class="container p-3">

    <!-- Header, Nav start -->
    <th:block th:replace="~{fragment::header-nav}"></th:block>
    <!-- Header, Nav end -->

    <!-- Section start -->
    <section class="row m-3" style="min-height: 500px">

      <div class="container border p-5 m-4 rounded">
        <h2 class="m-4">마이페이지</h2>
        <br>

        <div align="center">
          <img id="profileImg" th:src="@{${#strings.defaultString(session.loginUser.profileURL, '/images/defaultProfile.png')}}" onclick="document.getElementById('profileImgFile').click();">
          <input type="file" class="file" id="profileImgFile" style="display:none;"> <!-- 파일 선택하는 순간 change 이벤트 동작 -->
        </div>

        <script>
          document.getElementById('profileImgFile').addEventListener('change', evt => {
            const fileInput = evt.target;

            if (fileInput.files.length != 0) {

              let formData = new FormData();
              formData.append('uploadFile', fileInput.files[0]);

              fetch('/user/modifyProfile.do', {
                method: 'post',
                body: formData
              })
                .then(response => response.text())
                .then(data => {
                  alert(data); // 응답메세지
                  location.reload();
                })

            }
          })
        </script>

        <form th:action="@{/user/registUser.do}" method="POST" id="modify_form" th:object="${session.loginUser}">
          <div class="form-group">
            <label for="userId">* ID :</label>
            <input type="text" class="form-control" id="userId" name="userId" th:value="*{userId}" readonly><br>

            <label for="userName">* Name :</label>
            <input type="text" class="form-control" id="userName" name="userName" th:value="*{userName}"><br>

            <label for="email"> &nbsp; Email :</label>
            <input type="email" class="form-control" id="email" name="email" th:value="*{email}"><br>

            <label for="phone"> &nbsp; Phone :</label>
            <input type="tel" class="form-control" id="phone" name="phone" th:value="*{phone}"><br>

            <label for="address"> &nbsp; Address :</label>
            <input type="text" class="form-control" id="address" name="address" th:value="*{address}"><br>

            <label for=""> &nbsp; Gender : </label> &nbsp;&nbsp;
            <input type="radio" name="gender" id="Male" value="M" th:checked="*{gender} == 'M'">
            <label for="Male">남자</label> &nbsp;&nbsp;
            <input type="radio" name="gender" id="Female" value="F" th:checked="*{gender} == 'F'">
            <label for="Female">여자</label><br>


          </div>
          <br>
          <div class="btns" align="center">
            <button type="submit" class="btn btn-primary">수정하기</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteForm">회원탈퇴</button>
          </div>
        </form>

      </div>

    </section>
    <!-- Section end -->

    <!-- Footer start -->
    <th:block th:replace="~{fragment::footer}"></th:block>
    <!-- Footer end -->

  </div>

  <!-- 회원탈퇴 버튼 클릭시 보여질 Modal -->
  <div class="modal" id="deleteForm">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">회원탈퇴</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" align="center">

          <b>
            탈퇴 후 복구가 불가능합니다. <br>
            정말로 탈퇴 하시겠습니까?
          </b>

          <form action="탈퇴요청url" method="POST">
            비밀번호 :
            <input type="password" name="" required>

            <button type="submit" class="btn btn-danger">탈퇴하기</button>
          </form>

        </div>

      </div>
    </div>
  </div>



</body>
</html>