<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container p-3">

  <!-- Header, Nav start -->
  <th:block th:replace="~{fragment::header-nav}"></th:block>
  <!-- Header, Nav end -->

  <!-- Section start -->
  <section class="row m-3" style="min-height: 500px">

    <div class="container border p-5 m-4 rounded">

      <h2 class="m-4">해당 페이지의 내용이 보여져야되는 자리</h2>


    </div>

  </section>
  <!-- Section end -->

  <!-- Footer start -->
  <th:block th:replace="~{fragment::footer}"></th:block>
  <!-- Footer end -->

</div>
</body>
</html>