<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>

  <!--boardController1-->
  <h2>메인페이지입니다.</h2>

  <h3>게시글 목록</h3>
  <table border="1" id="board_list">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div id="paging_area"></div>

  <script>
    function getBoardsAndPaging(page){
      // 비동기 통신으로 게시글 목록, 페이징 정보 응답 받아 화면에 출력
      fetch('/board/list?page=' + page)
        // .then(response => response.json()) // 응답 본문에 담김 데이터를 파싱 (현재 JSON문자열 => Javascript 객체)
        .then(response => { // 풀어 써서 추가 구문 처리 가능
          if (response.ok) {
            console.log("정상");
          } else {
            throw new Error("에러");
          }
          return response.json();
        })
        .then(data => {
          // 게시글 목록(data.boards) 화면에 출력
          let trEl = '';
          data.boards.forEach(board => {
            trEl+=`<tr><td>${board.boardId}</td><td>${board.title}</td><td>${board.createDt}</td></tr>`;
          });
          document.querySelector('#board_list tbody').innerHTML=trEl;

          // 페이징바 화면에 출력
          let buttonEl=`<button onclick="getBoardsAndPaging(${data.page - 1});" ${data.page === 1 ? 'disabled' : ''}><</button>`;
          for (let p=data.beginPage; p<=data.endPage; p++) {
            buttonEl += `<button onclick="getBoardsAndPaging(${p}); ">${p}</button>`;
          }
          buttonEl += `<button onclick="getBoardsAndPaging(${data.page + 1})" ${data.page === data.totalPage ? 'disabled' : ''}> > </button>`;

          document.getElementById('paging_area').innerHTML=buttonEl;
        })
        .catch(error => {
          console.log("에러발생")
        })
    }
    getBoardsAndPaging(1);
  </script>

  <hr>

  <h3>게시글 상세</h3>
  글번호 : <input type="text" id="boardId_input">
  <button id="search_btn">조회</button>

  <div id="board_result"></div>

  <script>
    document.getElementById('search_btn').addEventListener('click', (evt) => {
      const $input = document.getElementById('boardId_input');

      fetch('/board/detail?no=' + $input.value)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          document.getElementById('board_result').innerHTML = `<ul><li>글번호: ${data.boardId}</li><li>글제목: ${data.title}</li><li>글제목: ${data.content}</li><li>작성시간: ${data.createDt}</li></ul>`;
        });
    });
  </script>

  <hr>

  <h3>게시글 등록</h3>
  <form id="regist_form">
    제목 : <input type="text" name="title"/> <br>
    내용 : <textarea name="content"></textarea> <br>
    <button type="button" id="regist_btn">등록</button>
  </form>

  <script>
    document.getElementById('regist_btn').addEventListener('click', evt => {

      // 전송할 데이터 (FormData 형식으로 title=[]&content=[])
      const requestData = new FormData(document.getElementById('regist_form'));
      // form을 집어넣으면 append 할 필요 없이 각각 name=value 인 FormData 로 삽입 가능

      fetch('/board/regist', {
        method: 'post',
        body: requestData
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          alert(data.msg);
          if (data.status === 200) {
            document.getElementById('regist_form').reset(); // 등록 후 작성한 내용 리셋
            getBoardsAndPaging(1); // 등록 후 1번페이지로 초기화
          }
        })

    })
  </script>

</body>
</html>